{% extends '::base.html.twig' %}

{% block title %}

    {{ 'app.listkdo.list.title'|trans }}

{% endblock title %}

{% block page %}

    <div class="row">
        <div class="small-10 columns small-centered">
            <h1 class="text-center title">
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('appbundle_listkdo_new') }}" class="tiny button success">
                        {{ 'app.listkdo.list.create'|trans }}
                    </a>
                {% endif %}
                {{ 'app.listkdo.list.title'|trans }}
            </h1>

            <ul class="small-block-grid-1">

                {% for entity in entities %}
                    {% include 'AppBundle:ListKdo:include/li-listkdo.html.twig' with{'entity': entity} %}
                {% endfor %}
            </ul>

        </div>
    </div>

{% endblock %}
