{% extends '::base.html.twig' %}


{% block title %}
    {{ 'app.listkdo.slug.title'|trans({'%name%': entity.name}) }}
{% endblock title %}

{% block page %}

    {% if is_granted('LISTKDO_DELETE', entity) %}

        <a href="{{ path('appbundle_listkdo_edit', {'id': entity.id}) }}" class="tiny button success">
            {{ 'app.listkdo.slug.update'|trans }}
        </a>

    {% endif %}

    {% include 'AppBundle:ListKdo:include/div-listkdo.html.twig' with{'entity': entity} %}

{% endblock %}
